@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Work+Sans:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color:indigo;
    color: white;
    overflow: hidden;
}

.nav{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 10px;
}

.logo,
.menu,
.search,
.bag{
    position: absolute;
    padding: 10px;
    margin-top: 10px;
}

.logo{
    left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.menu{
    left: 150px;
    top: 2px;
    line-height: 1.2;
    font-size: 20px;
}

.search,
.bag{
    background: white;
    color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: 18px;
}

.search{
    right: 140px;
}

.bag{
    right: 40px;
}

.product-img{
    width: 440px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* transform: rotate(-2deg); */
    /* transform: skew(1deg, 1deg); */
    /* transform: matrix(1, 0, 0.5, 1, 150, 0); */
    z-index: 2;
}

.product-text{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.product-title{
    color: #f2d16d;
    font-weight: 900;
    letter-spacing: -7px;
    font-size: 180px;
}

.product-desc{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -585px;
    z-index: 2;
}

.product-desc p{
    position: absolute;
    font-size: 20px;
    top: -470px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.product-desc button{
    margin-top: 10px;
    background-color: #f2d16b;
    color: black;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    border: none;
    border-radius: 30px;
    transition: background-color .3s;
}

.product-desc button:hover{
    background-color: black;
    color: white;
}

.size{
    position: absolute;
    left: 50px;
    bottom: 40px;
}

.size ul{
    list-style: none;
}

.size ul li{
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    border: 1px solid white;
    padding: 5px;
    margin-left: 5px;
    text-align: center;
    line-height: 1.5;
    transition: .3s ease-in-out;
}

.size ul li:hover{
    background: black;
}

.size span{
    font-weight: 600;
}

.size span::after{
    display: inline-block;
    content: "";
    border: .5px solid white;
    opacity: .5;
    width: 50px;
    margin: 0 0 0 10px;
    transform: translateY(-4px);
}


.bottom-img {
    position: absolute;
    bottom: 80px;
    right: 20px;
    background: url('') no-repeat;
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 150px;

}

.bottom-right{
    position: absolute;
    bottom: 0;
    left: 86.5%;
}

.bottom-right ul{
    list-style: none;
}

.bottom-right ul li{
    display: inline-block;
    padding: 10px 15px;
    margin: 20px 20px 40px 0;
    /* background-color: #624652; */
}

.media ul{
    list-style: none;
    position: fixed;
    left: 45px;
    top: 35%;
}

.media ul li{ 
    font-size: 18px;
    margin: 24px 0;
    transition: font-size .3s;
}

.media ul li:hover {
    /* transform: scale(1.9); */
    font-size: 33px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    background: white;
}

.first{
    top: 0;
}
.second{
    top: 33.3%;
}
.third{
    top: 66.6%;
}